<div class="container-fluid products-content">
    <section class="row inicio-producto">
        <h1 class="titulo-productos">Productos</h1>
        <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, laboriosam. Atque odit fuga ipsa natus sapiente quis vitae veritatis dignissimos quibusdam vero maxime, omnis recusandae? Eaque sequi similique quia in!
        Deleniti, fuga earum mollitia velit rerum officia nesciunt, alias fugit eos ducimus temporibus, quaerat soluta nulla voluptas suscipit quos. Impedit perspiciatis atque architecto dolorem commodi! Quia non hic vero recusandae.
        Minus eos soluta possimus omnis quas enim veritatis, ratione amet sequi debitis, hic corporis aliquam id ullam nostrum quae eaque deserunt deleniti eligendi molestiae error ipsum! Maiores recusandae officia suscipit?
        Qui, provident, et dicta voluptas non ad, laborum in deserunt dolorum dolores cum nisi quo. Mollitia assumenda explicabo ut vitae molestias corrupti fugit ducimus velit perspiciatis architecto, aspernatur soluta veritatis?
        Veniam placeat autem perspiciatis nemo rem aliquid ea in impedit amet aperiam nam soluta cupiditate quae et sit repudiandae, adipisci deserunt nesciunt aspernatur minus ut. Maxime rerum culpa itaque facilis?
        </p>
    </section>
    <section class="container-fluid productos">
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem;" id="prod1">
                <img src="./../../assets/Producto.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;" id="prod2">
                <img src="./../../assets/Producto.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem;" id="prod3">
                <img src="./../../assets/Producto.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;" id="prod4">
                <img src="./../../assets/Producto.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem;" id="prod5">
                <img src="./../../assets/Producto.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;" id="prod6">
                <img src="./../../assets/Producto.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 6</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem;" id="prod7">
                <img src="./../../assets/Producto.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 7</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;" id="prod8">
                <img src="./../../assets/Producto.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 8</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

    </section>
</div>
