.products-content {
    margin-top: 55px;
    width: 100%;
    p {
        padding-left: 10px ;
        padding-right: 10px;
    }
}

.inicio-productos {
    titulo-productos {
        text-align: start;
    }
}

.intro {
    text-align: start;
}

.card {
    margin: 10px;
    img {
        width: 100%;
    }
}